2877. Create a DataFrame from List

Write a solution to create a DataFrame from a 2D list called `student_data`. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, `student_id` and `age`, and be in the same order as the original 2D list.

The result format is in the following example.

Example 1:

Input:
student_data:
[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
Output:
+------------+-----+
| student_id | age |
+------------+-----+
| 1          | 15  |
| 2          | 11  |
| 3          | 11  |
| 4          | 20  |
+------------+-----+
Explanation:
A DataFrame was created on top of `student_data`, with two columns named `student_id` and `age`.

In [1]:
import pandas as pd
from typing import List

In [2]:
student_data = [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]

In [3]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    data = {'student_id':[id[0] for id in student_data],
            'age':[id[1] for id in student_data]}

    df = pd.DataFrame(data)
    return df

In [4]:
createDataframe(student_data)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20